body {
  font-family: Arial;
}

li button {
  margin-left: 6px;
}

.info, .error {
  font-size: 1.25rem;
  border-radius: 8px;
  padding: 6px;
  margin-bottom: 8px;
}

.info {
  color: white;
  background: darkgreen;
}

.error {
  color: white;
  background: darkred;
}

