body {
    font-family: Arial;
}

input {
    margin-left: 6px;
}

button {
    margin-bottom: 4px;
}

#logout-button {
    margin-left: 6px;
}

form input {
    margin-bottom: 4px;
}

.bloglist>div:nth-child(even) {
    background-color: floralwhite;
}

.info, .error {
    font-size: 1.25rem;
    border-radius: 8px;
    padding: 6px;
    margin-bottom: 8px;
    color: #FFFFFF;
}
  
.info {
    background: darkgreen;
}
  
.error {
    background: darkred;
}

.bloglist>div {
    border: 1px solid black;
    padding: 8px 2px 4px 2px;
    margin-bottom: 4px;
}

.blog button {
    margin-left: 4px;
    margin-bottom: 0px;
}

.blog>div {
    margin-bottom: 4px;
}